<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
  <fieldset>
    <legend>登录</legend>
    <div>
      <label for="username">账号</label>
      <input type="text" name="username" id="username" required />
    </div>
    <div>
      <label for="password">密码</label>
      <input type="password" name="password" id="password" required />
    </div>
    <div>
      <button type="submit">登录</button>
    </div>
  </fieldset>
</form>
