<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>博客</title>
  </head>
  <body>
    <% if(logged) { %>
    <a href="/">首页</a>
    <a href="/publish">发表文章</a>
    <a href="/logout">退出登录</a>
    <% } else { %>
    <a ref="/login">登录</a>
    <% } %> <%- body %>
  </body>
</html>
